#root {
  padding-inline: var(--spg-300);
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  justify-content: center;
  background-color: light-dark(var(--clr-grey-50), var(--clr-blue-900));
  background-image: var(--bg-img, var(--light-bg-mbl));
  background-repeat: no-repeat;
}

@media (min-width: 48rem) {
  #root {
    background-image: var(--bg-img, var(--light-bg-tab));
  }

  body:has( .dark) {
    color-scheme: dark;
    --bg-img: var(--dark-bg-tab);
  }
}

@media (min-width: 72rem) {
  #root {
    background-image: var(--bg-img, var(--light-bg-dsk));
    background-size: cover;
  }

  body:has( .dark) {
    color-scheme: dark;
    --bg-img: var(--dark-bg-dsk);
  }
}

.container {
  display: grid;
  margin-block-start: var(--spg-400);
  gap: var(--spg-500);
}

@media (min-width: 90rem) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
