#root {
  padding-inline: var(--spg-300);
  min-height: 100vh;
  min-height: 100svh;
  max-width: 72rem;
  margin-inline: auto;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: clamp(3rem, 1.2143rem + 8.9286vw, 5.5rem);
}

.container {
  display: grid;
  gap: var(--spg-500);
}

@media (min-width: 90rem) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
