header {
  padding-block: var(--spg-100);
  display: flex;
  justify-content: flex-end;
}

.quiz-title {
  display: flex;
  align-items: center;
  gap: var(--spg-300);
}

.quiz-title {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--clr-blue-900);
}