header {
  padding-block: var(--spg-100);
  display: flex;
}

.quiz-title {
  display: flex;
  align-items: center;
  gap: var(--spg-300);
}

.quiz-title p {
  font-size: var(--font-md);
  font-weight: 500;
  color: light-dark(var(--clr-blue-900), var(--clr-white));
}