header {
  display: flex;
  margin-block-start: var(--spg-200);
}

.quiz-title {
  display: flex;
  align-items: center;
  gap: clamp(var(--spg-200), 0.6429rem + 1.7857vw, var(--spg-300));
}

.quiz-title p {
  font-size: var(--font-md);
  font-weight: 500;
  color: light-dark(var(--clr-blue-900), var(--clr-white));
}