@font-face {
  font-family: Rubik;
  src: url('../assets/fonts/Rubik-VariableFont_wght.ttf');
}

@font-face {
  font-family: Rubik-Italic;
  src: url('../assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
}

:root {
  font-family: Rubik, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Spacing */
  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-500: 2.5rem;
  --spg-600: 3rem;
  --spg-800: 4rem;
  --spg-1600: 8rem;
  --spg-1800: 9rem;
  --spg-2300: 11.5rem;


  /* Color */
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey-500: #626C7F;
  --clr-grey-50: #F4F6FA;
  --clr-blue-950: #2D3949;
  --clr-blue-900: #313E51;
  --clr-blue-850: #3B4D66;
  --clr-blue-500: #306AFF;
  --clr-blue-300: #ABC1E1;
  --clr-blue-100: #EDF1F9;
  --clr-blue-50: #EBF0FF;
  --clr-green-500: #2FD887;
  --clr-green-100: #E0FDEF;
  --clr-purple-600: #A729F5;
  --clr-purple-100: #F6E7FF;
  --clr-orange-400: #FF7E35;
  --clr-orange-50: #FFF5ED;
  --clr-red-500: #EE5454;
  
  /* Font Size */
  --txt-mbl-1: 5.5rem;
  --txt-mbl-2: 2.5rem;
  --txt-mbl-3: 1.25rem;
  --txt-mbl-4: 1.125rem;
  --txt-mbl-5: 0.875rem;

  --txt-1: 9rem;
  --txt-2: 4rem;
  --txt-3: 2.25rem;
  --txt-4: 1.75rem;
  --txt-5: 1.5rem;
  --txt-6: 1.25rem;

  --font-md: clamp(var(--txt-mbl-4), 0.6786rem + 2.2321vw, var(--txt-4));

  color-scheme: light dark;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;
  padding-inline: var(--spg-300);
  background-image: url('../assets/images/pattern-background-mobile-light.svg');
  background-repeat: no-repeat;

}

h1,h2,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(var(--txt-mbl-2), 1.4286rem + 5.3571vw, var(--txt-2));
  text-align: left;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: var(--spg-100);
  color: var(--clr-blue-900);
}

h1 span:first-child {
  font-weight: 300;
}

h2 {
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-grey-500);
  font-size: clamp(var(--txt-mbl-5), 0.6071rem + 1.3393vw, var(--txt-6));
  text-align: left;
}



button {
  border-radius: 0.75rem;
  border: 1px solid transparent;
  padding: var(--spg-200);
  font-size: var(--font-md);
  font-weight: 500;
  font-family: inherit;
  background: var(--clr-purple-600);
  color: var(--clr-white );
  cursor: pointer;
  transition: border-color 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Utils */

.italics {
  font-family: Rubik-Italic;
  font-weight: 400;
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--spg-200));
}

.row {
  display: flex;
  justify-content: var(--hr-space, space-between);
  align-items: center;
}


/* color scheme */

@media (prefers-color-scheme: light) {

}


@media (min-width: 48rem) {

  body {
    background-image: url('../assets/images/pattern-background-tablet-light.svg');
  }
}

@media(min-width: 72rem) {

  body {
    background-image: url('../assets/images/pattern-background-desktop-light.svg');
    background-size: cover;
  }
}