/*Radio group*/
.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--spg-200);
}

input[type="radio"] {
  appearance: none;
}

label:has(input[type="radio"]) {
  border-radius: 0.75rem;
  padding: var(--spg-200);
  box-shadow: 0px 16px 40px 0 rgba(143, 160, 193, 0.14);
  background-color: light-dark(var(--clr-white), var(--clr-blue-850));
  
  display: flex;
  align-items: center;
  gap: var(--spg-200);
  font-size: var(--font-md);
  color: light-dark(var(--clr-blue-900), var(--clr-white));
  font-weight: 500;
}

label:has(input[type="radio"]:hover),
label:has(input[type="radio"]:checked) {
  outline: 2px solid var(--clr-purple-600);
}

/* Option icons */

.icon-bg {
  width: var(--spg-500);
  height: var(--spg-500);
  display: grid;
  place-items: center;
  border-radius: var(--spg-100);

  background-color: var(--bg-color, var(--clr-grey-50));
}

.icon-bg img {
  width: 1.7rem;
  height: 1.7rem;
}

.bg-orange {
  --bg-color: var(--clr-orange-50);
}

.bg-blue {
  --bg-color: var(--clr-blue-50);
}

.bg-purple {
  --bg-color: var(--clr-purple-100);
}

.bg-green {
  --bg-color: var(--clr-green-100);
}

@media (min-width: 80rem) {

  label:has(input[type="radio"]) {
    padding: var(--spg-300);
  }
  
  .icon-bg {
    width: 3.5rem;
    height: 3.5rem;
  }

  .icon-bg img {
    width: var(--spg-500);
    height: var(--spg-500);
  }
}