.selection-error.row {
  --hr-space: center;
  gap:var(--spg-100);
}

.selection-error p {
  color: var(--clr-red-500);
  font-size: clamp(var(--txt-mbl-4), 0.8571rem + 1.3393vw, var(--txt-5));
}

/* Progress */
progress {
  -webkit-appearance: none;
  width: 100%;
  --flow-space: var(--spg-300);
  border-radius: 62rem;
  border-color: transparent;
  background-color: light-dark(var(--clr-white), var(--clr-blue-850));
}

::-moz-progress-bar {
  border-radius: 62rem;
  background-color: var(--clr-purple-600);
  transform: scale(.99, 0.5);
}

::-webkit-progress-inner-element {
  border-radius: 62rem;
  padding: 0.25rem;
}

::-webkit-progress-bar {
  background-color: light-dark(var(--clr-white), var(--clr-blue-850));
}

::-webkit-progress-value {
  background-color: var(--clr-purple-600);
  border-radius: 62rem;
}


.question-details h2 {
  color: light-dark(var(--clr-grey-500), var(--clr-blue-300));
  font-size: clamp(var(--txt-mbl-5),  0.6071rem + 1.3393vw, var(--txt-6));
}

.question-details p {
  font-size: clamp(var(--txt-6), 0.5357rem + 3.5714vw, var(--txt-3));
  color: light-dark(var(--clr-blue-900), var(--clr-white));
}
/* End */


/* Label */ 

label span {
  width: var(--spg-500);
  height: var(--spg-500);
  background-color: var(--clr-grey-50);
  border-radius: 0.5rem;
  color: var(--clr-grey-500);
  font-size: var(--font-md);

  display: grid;
  place-items: center;
}

label:has(input[type="radio"]:hover) span,
label:has(input[type="radio"]:checked) span {
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
}

label.correct:has(input[type="radio"]:checked) {
  outline-color: var(--clr-green-500);
}

label.wrong:has(input[type="radio"]:checked) {
  outline-color: var(--clr-red-500);
}

label.correct:has(input[type="radio"]:checked) span {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
}

label.wrong:has(input[type="radio"]:checked) span {
  background-color: var(--clr-red-500);
  color: var(--clr-white);
}
/* End */


/* Icon Correct*/
.answer-icon {
  margin-inline-start: auto;
  visibility: hidden;
}

.answer-icon.visible {
  visibility: visible
}

/* End */

@media (min-width: 90rem) {
  
  progress {
    --flow-space: var(--spg-2300);
  }
}