.selection-error.row {
  --hr-space: center;
  gap:var(--spg-100);
}

.selection-error p {
  color: var(--clr-red-500);
  font-size: clamp(var(--txt-mbl-4), 0.8571rem + 1.3393vw, var(--txt-5));
}

progress {
  -webkit-appearance: none;
  width: 100%;
  --flow-space: var(--spg-300);
  border-radius: 62rem;
  border-color: transparent;
}

::-moz-progress-bar {
  border-radius: 62rem;
  background-color: var(--clr-purple-600);
  transform: scale(.99, 0.5);
}

::-webkit-progress-inner-element {
  border-radius: 62rem;
  padding: 0.25rem;
}

::-webkit-progress-bar {
  background-color: var(--clr-white);
}

::-webkit-progress-value {
  background-color: var(--clr-purple-600);
  border-radius: 62rem;
}


.question-details h2 {
  color: var(--clr-grey-500);
  font-size: clamp(var(--txt-mbl-5),  0.6071rem + 1.3393vw, var(--txt-6));
}

.question-details p {
  font-size: clamp(var(--txt-6), 0.5357rem + 3.5714vw, var(--txt-3));
  color: var(--clr-blue-900);
}

@media (min-width: 90rem) {
  
  progress {
    --flow-space: var(--spg-2300);
  }
}