#root {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spg-400);
  gap: var(--spg-500)
}

.switch {
  display: flex;
  align-items: baseline;
  gap: var(--spg-100);
}

.switch img {
  width: 1rem;
  height: 1rem;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  height: 1.25rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 62.4rem;
  background-color: var(--clr-purple-600);
  position: relative;
  transition: all .4s;
}

input[type="checkbox"]::before {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: white;
  content: '';
  position: absolute;
  left: 0.25rem;
  transition: all .4s;
}

input[type="checkbox"]:checked::before {
  left: 50%;
  transition: all .4s;
}

/*Radio group*/
.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--spg-200);
}

input[type="radio"] {
  appearance: none;
}

label:has(input[type="radio"]) {
  border-radius: 0.75rem;
  padding: var(--spg-200);
  box-shadow: 0px 16px 40px 0 rgba(143, 160, 193, 0.14);
  background-color: var(--clr-white);
  
  display: flex;
  align-items: center;
  gap: var(--spg-200);
}

label:has(input[type="radio"]:hover) {
 outline: 2px solid var(--clr-purple-600);
}

label:has(input[type="radio"]:checked) {
  outline: 2px solid var(--clr-green-500);
}

/* Option icons */

.icon-bg {
  width: var(--spg-500);
  height: var(--spg-500);
  display: grid;
  place-items: center;
  border-radius: var(--spg-100);

  background-color: var(--bg-color, var(--clr-grey-50));
}

.icon-bg img {
  width: 1.7rem;
  height: 1.7rem;
}

.bg-orange {
  --bg-color: var(--clr-orange-50);
}

.bg-blue {
  --bg-color: var(--clr-blue-50);
}

.bg-purple {
  --bg-color: var(--clr-purple-100);
}

.bg-green {
  --bg-color: var(--clr-green-100);
}