#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 1.25rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 62.4rem;
  background-color: var(--clr-purple-600);
  position: relative;
  transition: all .4s;
}

input[type="checkbox"]::before {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: white;
  content: '';
  position: absolute;
  left: 0.25rem;
  transition: all .4s;
}

input[type="checkbox"]:checked::before {
  left: 50%;
  transition: all .4s;
}